################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealClrProject
/x64
/RealClrProject/x64
/RealClrProject/obj
